name: Deploy Snowflake Notebook

on:
  push:
    branches:
      - main  # This triggers the update when you merge your PR to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Snowflake CLI
        run: pip install snowflake-cli-labs

      - name: Sync and Update Notebook
        env:
          SNOWFLAKE_CONNECTIONS_DEPLOY_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_CONNECTIONS_DEPLOY_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_CONNECTIONS_DEPLOY_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_CONNECTIONS_DEPLOY_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
          SNOWFLAKE_CONNECTIONS_DEPLOY_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
        run: |
          # 1. Refresh the Git Repo in Snowflake
          snow sql -c deploy -q "ALTER GIT REPOSITORY NPO_TEST.PUBLIC.MY_GIT_REPO FETCH"

          # 2. Re-create the Notebook object to pick up new changes from the main branch
          snow sql -c deploy -q "
            CREATE OR REPLACE NOTEBOOK NPO_STAGING.ML_MODELS.TRAIN_NOTEBOOK
            FROM '@NPO_TEST.PUBLIC.MY_GIT_REPO/branches/main/notebooks/ml_model/'
            MAIN_FILE = 'train.ipynb'
            QUERY_WAREHOUSE = '${{ secrets.SNOWFLAKE_WAREHOUSE }}';"
